@page {
	margin: 1.5cm 2cm;
}

* {
	font-size: 12px;
}

.copy-me {
	cursor: copy;
}

@media screen {
	html {
		background-color: #666;
	}

	body {
		width: 21cm;
		margin: 0.5cm auto;
		padding: 1.5cm 2cm;
		box-sizing: border-box;
		background-color: #FFF;
		border: #000 1px solid;
		box-shadow: 0px 0px 30px 0px #333;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0;
}

h1>span, h2>span, h3>span, h4>span, h5>span, h6>span {
	font-size: inherit;
}

h1 {
	font-size: 1.8em;
	font-weight: normal;
	font-style: italic;
	text-align: right;
	color: var(--title);
	margin-top: 0;
}

h1 ~ h2 {
	text-align: left;
	font-size: 3.2em;
}

h2 {
	font-size: 2.0em;
	text-align: center;
	color: var(--title);
	margin-top: 0;
}

h3 {
	font-size: 1.6em;
	text-align: center;
	margin-top: 1.2em;
	color: var(--title);
	border-bottom: 2px solid var(--dark);
}

h4 {
	font-size: 1.4em;
	margin-top: 1.0em;
}

h5 {
	font-size: 1.2em;
	margin-top: 0.8em;
}

dl {
	color: var(--subtitle);
	font-style: italic;
	font-size: 1.2em;
}

	dl * {
		display: inline-block;
	}

	dl dt {
		text-align: right;
		font-weight: bold;
	}

		dl dt:after {
			content: ':';
		}

		.cover-letter dl dt {
			width: 64%;
		}

		.curriculum dl dt {
			width: 16%;
		}

	dl dd {
		margin-left: 0.5em;
	}

		.cover-letter dl dd {
			width: 34%;
		}

		.curriculum dl dd {
			width: 32%;
		}

	article p {
		text-align: justify;
	}

	.cover-letter article p {
		font-size: 1.3em;
	}

		.curriculum article p,
		.cover-letter article p:not(:last-child) {
			text-indent: 3em;
		}

		.cover-letter article p:last-child {
			font-style: italic;
			color: var(--subtitle);
			margin-top: 3em;
		}

small {
	display: block;
	font-size: 80%;
	font-style: italic;
	font-weight: normal;
	color: var(--subtitle);
}

ul {
	margin-top: 0.3em;
	padding-left: 2%;
}
	li {
		list-style-type: none;
	}
		li:before {
			font-size: 20%;
			margin: 0 2em 0 -4em;
			vertical-align: 80%;
			background: var(--dark);
			color: var(--light);
		}

	li:empty {
		display: none;
	}

ul.columns li {
	width: 47%;
	display: inline-block;
	padding-inline-end: 1em;
}

.cover-letter, .skills {
	page-break-after: always;
}

.keep-together {
	page-break-inside: avoid;
}

.date {
	text-align: right;
	font-style: italic;
	float: right;
}

.date-end:not(:empty):before {
	content: '– '
}

.additional-item-url:before {
	content: ': ';
	margin-left: -0.2em;
}

.additional-item-url:empty {
	display: none;
}

.skills {
	text-align: center;
}

	span.skill {
		white-space: nowrap;
	}

	span.skill::before,
	span.skill::after {
		content: '\18';
		color: #FFF;
		font-size: 0.1em;
	}

	span.skill.level-1 {
		font-size: 1.5em;
	}

	span.skill.level-2 {
		font-size: 2.4em;
	}

	span.skill.level-3 {
		font-size: 3.3em;
	}

	span.skill.level-4 {
		font-size: 4.2em;
	}

	span.skill.level-5 {
		font-size: 5.1em;
	}

	span.skill.level-1 ~ span.skill.level-1 {
		content: '-';
	}

.professional {
	margin-bottom: 4em;
}

.academic {
	margin-bottom: 3em;
}

a, a:visited, a:active {
	color: var(--subtitle);
	text-decoration: none;
}
